[color]
    ui = true

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    gl = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[http]
    proxy =

[user]
    email = dalance@gmail.com
    name = dalance

[push]
    default = simple

[help]
    autocorrect = 1

[url "github:"]
    PushInsteadOf = https://github.com/
    PushInsteadOf = git@github.com:

[include]
    path = .gitconfig.local
