[color]
    ui = true

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    gl = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[http]
    proxy =

[include]
    path = .gitconfig.local
[user]
    email = dalance@gmail.com
    name = dalance
[push]
    default = simple
[help]
    autocorrect = 1
